@import "bootstrap-sprockets";
@import "bootstrap";
@import "materialize/components/color-variables";
$primary-color: color("teal", "accent-4") !default;
$secondary-color: color("red", "accent-1") !default;
@import 'materialize';
@import 'material_icons';

/* mixins, variables, etc. */
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
