<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'app' %>
  </head>
  <div id="app">
    <navbar></navbar>
    <router-view></router-view>
    <navfoo></navfoo>
  </div>
</html>
